@charset "utf-8";
/* CSS Document */

	h1{
		text-align: center;
		font-size: 55px;
		animation-iteration-count: infinite;
		animation-delay: 0s;
		animation-duration: 5s;
		animation-name: slidein;
	
		
	}
	@keyframes slidein{
		0%{align-content: center; color: black}
		25%{align-content:center; color:black}
		50%{align-content: center; color: #8E1205}
		100%{align-content: center; color: darkslategrey}
	}
	

	
.footer{
	background-color:black;
	size:100%;
}

