@charset "utf-8";
/* CSS Document */
table{
	border:none;
    padding: 4px;
    
	
}
#foodgallery table .box2 {
    display:block;
    width:24vw;
    overflow:hidden;
	border-radius: 2px;
}
#foodgallery  table img{
	 width:24vw;
    height:30vh;
	border-radius: 2px;
	
}
#foodgallery table img:hover{
    transform:scale(2,2);
    transition:2s transform;
	
}
